<!-- Credit: Form Design is inspired by Aswin Madhulal (https://dribbble.com/shots/7209761-Feedback-much-appreciated) -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">


	<link rel="stylesheet" href="{{ url_for('static',filename='/css/feedback.css') }}">
</head>
<body>
<div class="content">
	<header>
		<h1>Feel free to drop us your feedback.</h1>
		<!-- 	Credit: https://undraw.co/ -->
		<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1457119/feedback-form-template.svg"
			  alt="A woman is sitting on the floor and working on a laptop (vector illustration)" />
	</header>
	<main mv-app="feedbackForm"
			mv-storage="#data"
			mv-source="#source"
			mv-mode="read">
		<form mv-multiple="feedback" action="/setfeedback/{{ bookingId }}" method="POST">
			<label>
				<h2>
					How satisfied are you overall with the IIT Kharagpur Guest House?
				</h2>

				<div class="tickmarks">
					<span mv-multiple="tickmark"
							mv-value="0 .. 10"
							mv-storage="none"
							class="[if($this = score, highlight)]"
							mv-action="set(score, $this)"></span>
				</div>

				<input property="score"
						 type="range" max="10"
						 style="--score: [score * 10]%" />

				<div class="legend">
					<span mv-action="set(score, 0)">
						Not at all likely
					</span>
					<span mv-action="set(score, 10)">
						Extremely likely
					</span>
				</div>
			</label>

			<textarea name="text" property="comment"
						 cols="30" rows="10"
						 placeholder="Please give your feedback..."></textarea>

			<!-- <h2>
				Now please tell us the month and the year on which the following first happened
			</h2>
			 -->
			<!-- <section property="startDate">
				<p>
					I first started to trade (selling goods / delivering services) and receiving income
				</p>

				<select property="month">
					<option value="">Month</option>
					<option mv-multiple="monthOption"
							  mv-value="1 .. 12"
							  mv-attribute="value"
							  mv-mode="read">
						[month('2019-' & digits(2, $this) & '-01', 'shortname')]
					</option>
				</select>

				<select property="year">
					<option value="">Year</option>
					<option mv-multiple="yearOption"
							  mv-value="2010 .. year($today)"
							  mv-attribute="value"
							  mv-mode="read">
						[$this & '']
					</option>
				</select>
			</section> -->

			<div class="mv-bar">
{#				<button type="submit" class="mv-save">#}
{#					Send Feedback#}
{#				</button>#}
                <input class="button" type="submit" value="Send Feedback" />
			</div>
		</form>
	</main>
</div>



<!-- We need an empty source (which is different from the storage) for not to show end-users previously-stored feedback of other users. -->
<div id="source" hidden>
{
	"feedback": [
		{}
	]
}
</div>
</body>
</html>
